### Modify Data From txt to CSV

In [1]:
# Importing neccasary Libraries
import pandas as pd
import csv

In [2]:
files = ['emg_healthy', 'emg_myopathy', 'emg_neuropathy']

In [3]:
txt = '.txt'
csv = '.csv'
for file in files:
    txt_file = file + txt
    csv_file = file + csv
    input_data = pd.read_csv(txt_file, delimiter = ' ')
    input_data.to_csv(csv_file, index = None)

### Modifying the first dataset

In [4]:
# The dataset concerned about the Haelthy People
df_1 = pd.read_csv("./emg_healthy.csv")
print(df_1.head())
print()
df_1.info()

   0.00025  -0.0333
0  0.00050  -0.0350
1  0.00075  -0.0350
2  0.00100  -0.0300
3  0.00125  -0.0300
4  0.00150  -0.0333

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50857 entries, 0 to 50856
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   0.00025  50857 non-null  float64
 1   -0.0333  50857 non-null  float64
dtypes: float64(2)
memory usage: 794.8 KB

In [5]:
# So we need to convert the type of data
df_1.columns = ['Time', 'Value']
df_1['Time'].astype('float')
df_1['Value'].astype('float')
df_1.dropna()

           Time   Value
0       0.00050 -0.0350
1       0.00075 -0.0350
2       0.00100 -0.0300
3       0.00125 -0.0300
4       0.00150 -0.0333
...         ...     ...
50852  12.71400  0.0050
50853  12.71420  0.0067
50854  12.71450  0.0050
50855  12.71480  0.0050
50856  12.71500  0.0083

[50857 rows x 2 columns]

In [6]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50857 entries, 0 to 50856
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    50857 non-null  float64
 1   Value   50857 non-null  float64
dtypes: float64(2)
memory usage: 794.8 KB

In [7]:
df_1.to_csv('EMG_Healthy_Modified.csv', index=False)

In [8]:
df_1['Time'] = df_1['Time'][0:1200]
df_1['Value'] = df_1['Value'][0:1200]
df_1.to_csv('EMG_Healthy_Modified_Less_Data.csv', index=False)

### Modifying the second dataset

In [9]:
# The dataset concerned about the People with myopathy
df_2 = pd.read_csv("./emg_myopathy.csv")
print(df_2.head())
print()
df_2.info()

   0.00025  -0.0050
0  0.00050  -0.0100
1  0.00075  -0.0050
2  0.00100  -0.0100
3  0.00125  -0.0067
4  0.00150  -0.0017

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110334 entries, 0 to 110333
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   0.00025  110334 non-null  float64
 1   -0.0050  110334 non-null  float64
dtypes: float64(2)
memory usage: 1.7 MB

In [10]:
# So we need to convert the type of data
df_2.columns = ['Time', 'Value']
df_2['Time'].astype('float')
df_2['Value'].astype('float')
df_2.dropna()

            Time   Value
0        0.00050 -0.0100
1        0.00075 -0.0050
2        0.00100 -0.0100
3        0.00125 -0.0067
4        0.00150 -0.0017
...          ...     ...
110329  27.60280  0.1167
110330  27.60300  0.1550
110331  27.60320  0.1550
110332  27.60350  0.1200
110333  27.60380  0.1150

[110334 rows x 2 columns]

In [11]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110334 entries, 0 to 110333
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    110334 non-null  float64
 1   Value   110334 non-null  float64
dtypes: float64(2)
memory usage: 1.7 MB

In [12]:
df_2.to_csv("EMG_Myopathy_Modified.csv", index=False)

In [13]:
df_2['Time'] = df_2['Time'][0:1200]
df_2['Value'] = df_2['Value'][0:1200]
df_2.to_csv("EMG_Myopathy_Modified_Less_Data.csv", index=False)

### Modifying the third dataset

In [14]:
df_3 = pd.read_csv("./emg_neuropathy.csv")
print(df_3.head())
print()
df_3.info()

   0.00025  0.0900
0  0.00050  0.0767
1  0.00075  0.0767
2  0.00100  0.0733
3  0.00125  0.0717
4  0.00150  0.0667

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147855 entries, 0 to 147854
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   0.00025  147855 non-null  float64
 1   0.0900   147855 non-null  float64
dtypes: float64(2)
memory usage: 2.3 MB

In [15]:
# So we need to convert the type of data
df_3.columns = ['Time', 'Value']
df_3['Time'].astype('float')
df_3['Value'].astype('float')
df_3.dropna()

            Time   Value
0        0.00050  0.0767
1        0.00075  0.0767
2        0.00100  0.0733
3        0.00125  0.0717
4        0.00150  0.0667
...          ...     ...
147850  37.03550  0.0783
147851  37.03580  0.0767
147852  37.03600  0.0633
147853  37.03630  0.0633
147854  37.03650  0.0283

[147855 rows x 2 columns]

In [16]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147855 entries, 0 to 147854
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    147855 non-null  float64
 1   Value   147855 non-null  float64
dtypes: float64(2)
memory usage: 2.3 MB

In [17]:
df_3.to_csv("EMG_Neuropathy_Modified.csv", index=False)

In [18]:
df_3['Time'] = df_3['Time'][0:1200]
df_3['Value'] = df_3['Value'][0:1200]
df_3.to_csv("EMG_Neuropathy_Modified_Less_Data.csv", index=False)